{# /srv/salt/quast/templates/cisco/distribution/ospf.j2 #}
! ============================================
! OSPF Configuration
! ============================================
!
router ospf {{ process_id }}
 router-id {{ router_id }}
 !
 ! Advertise all VLAN subnets
 network 10.100.0.0 0.15.255.255 area 0
 network 10.10.0.0 0.0.255.255 area 0
 !
 ! Passive interfaces (no OSPF neighbors here)
 passive-interface default
 no passive-interface port-channel 100
 !
 ! Timers
 timers throttle spf 200 1000 10000
!
interface port-channel 100
 ip ospf network point-to-point
 ip ospf hello-interval 10
 ip ospf dead-interval 40
!
